* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.title, .title-2 {
    font-family: 'Zilla Slab';
}

/* Nav Bar */
nav{
    background-color: white;
    list-style-type: none;
    margin: 2% 0 1%;
    padding: 1rem 6rem;
    position: sticky;
    top: 0;
}

nav .nav, nav .nav-logo {
    margin: 1rem;
    display: inline;
}

.right-nav {
    float: right;
}

.tuitt-button, .apply-button {
    background-color: #c2195b;
    border-style: none;
    border-radius: 1rem;
    color: white;
    padding: .5rem 1rem;
}
/* Nav Bar End */

/* Landing Page */
#bg-image {
    background-image: url("https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.front-bg {
    background-color: rgba(0, 0, 0, .5);
}

.container {
    color: white;
    text-align: right;
    padding-right: 6%;
    padding-left: 50%;
}

.container h1 {
    font-size: 2.3rem;
}

.container h2 {
    font-size: 1rem;
    font-weight: 200;
    margin: 1rem 0;
    padding-left: 9.5rem;
}

.apply-button{
    margin: 1rem 0;
}
/* Landing Page End */

/* Intro Section */
.intro h2, .intro p {
    margin: 7rem;
}

.intro p {
    text-align: justify;
}
/* Intro Section End*/

/* Pre-footer */
.pre-footer {
    background-color:  #f7fbfb;
}

.pre-footer h2 {
    margin: 3rem;
}

.pre-footer p {
    margin: 0 7rem;
}

.book-button {
    background-color: #336589;
    border-style: none;
    border-radius: 1rem;
    color: white;
    padding: .5rem 2rem;
    margin: 1rem 0 5rem;
}
/* Pre-footer End */